﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="chitiet.aspx.cs" Inherits="CSDL.chitiet" %>
<asp:Content ID="Content2" ContentPlaceHolderID="Content1" runat="server">
    <asp:DataList ID="DataList1" runat="server" RepeatColumns="2">
        <ItemTemplate>
            <asp:Image ID="Image1" runat="server" ImageUrl='<%# "~/image/" + Eval("HINH") %>' />
            <asp:Label style="color:" ID="Label1" runat="server" Text='<%# Eval("TENHANG") %>'></asp:Label>
            <br />
            <asp:Label ID="Label2" runat="server" Text='<%# Eval("MOTA") %>'></asp:Label>
            <br />
            <asp:Label ID="Label3" runat="server" Text="Label">Số Lượng: </asp:Label>
            <input id="Text1" type="text" />
            <asp:Button ID="Button1" runat="server" Text="Button" />
        </ItemTemplate>
    </asp:DataList>
</asp:Content>
