﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="home.aspx.cs" Inherits="CSDL.home" %>
<asp:Content ID="Content2" ContentPlaceHolderID="Content1" runat="server">
    <h2>Trang chủ</h2>
</asp:Content>
