﻿* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container .menu {
    width: 100%;
    height: 100%;
    background-color: darkblue;
    justify-content: space-between;
}

.menu .logo {
    background-color: aliceblue;
    color: darkblue;
    padding: 5px 15px;
    border-radius: 50%;
    display: inline-block;
}

.menu .menuRight {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.menuRight a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.menuRight a:hover {
    text-decoration: underline;
}

.container .banner {
    width: 100%;
    height: 50%;
    background-image: url("./");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Sử dụng min-height để container có chiều cao tối thiểu là 100% */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước của container */
    padding-bottom: 60px; /* Chiều cao dự tính của footer */
}

.wrapper {
    flex: 1;
    display: flex;
}

.left {
    flex: 15%;
    border: 1px solid black;
}

.center {
    flex: 60%;
    border: 1px solid black;
}

.right {
    flex: 20%;
    border: 1px solid black;
}

.breadcrum {
    width: 100%;
    height: 25px;
    background: blue;
    color: wheat;
    font-size: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top:700px;
}


.wrapper .left a {
    text-decoration: none;
    margin:25px 10px;
    color:black;
}

.wrapper .left a:hover {
    text-decoration: underline;
}
